/*----------------------------------------------------
- Responsivenesss
----------------------------------------------------*/

@media only screen and (max-width: 1920px) and (min-width: 320px) {
	.navbar .home-logo {
		max-width: 285px;
	}
}

@media only screen and (max-width: 1199px) and (min-width: 320px) {
	.navbar .home-logo {
		max-width: 250px;
	}
	.navbar .navbar-nav-bottom li a {
		padding: 5px 7px;
		font-size: 14px;
	}
	.header-bottom ul li a {
		font-size: 13px;
	}
	.navbar .navbar-nav-top {
		margin-bottom: 8px;
	}
	.header-bottom ul li select {
		height: 30px;
	}
	.slider ul li {
		width: 32%;
	}
	.bp2-page-content .grid-item-wrap .grid-item .more-info-wrap {
		margin: 10px 0 10px 126px;
	}
	
	/*----- Bp3 Guset Detail Section ------*/
	
	.guest-detail-element .guest-detail-info .featured-thumb {
		margin-right: 15px;
	}
	.secured-sec {
		width: 42%;
	}
	.master-cards {
		width: 56%;
	}
	
	/*----- Bp4 Avaliable Section ------*/
	
	.thankyou-sec-wrap .arrival-info-sec .btn-detail a {
    	width: 195px;
	}
	.thankyou-sec-wrap .arrival-info-sec .btn-detail li {
		margin-right: 15px;
	}
	
	/*----- Bp5 Section ------*/
	
	.more-info,
	.book-now {
		width: 115px;
		font-size: 13px;
	}
	.more-info {
		line-height: 2.1em;
	}
	.other-hotels-wrap .grid-item {
		min-height: 294px;
	}
	
	/*----- Lightbox 3 -----*/
	
	.hotel .modal-tab, 
	#roomdetail .modal-dialog {
		max-width: 90%;
	}
	#roomdetail .room-detail .room-info .title {
		width: 19%;
	}
	
	/*----- Lightbox 5 -----*/
	
	#map .map-sec {
		width: 870px;
	}
	#reviews .sidebar-info .logo-wrap li {
		width: 32%;
	}
	.booking-date-col.booking-price-col.extra-demand .package-ex .moon-wrap {
		display: none;
	}
}

@media only screen and (max-width: 991px) and (min-width: 320px) {
	.navbar-header.mb {
		margin-bottom: 35px;	
		transition: all 0.3s ease-in-out;
	}
	.bp2-page-content .grid-item-wrap .grid-item .more-info-wrap {
		margin: 10px 0 10px 143px;
	}
	/*----- Common Css --*/
	.device-mrgn-btm {
		margin-bottom: 30px;
	}
	.navbar .home-logo {
		max-width: 150px;
	}
	.nav>li>a {
		padding: 10px;
	}
	.header-bottom ul li.list-inline-item {
		margin-right: 6px;
	}
	.header-bottom ul li a {
		padding: 2px 15px;
	}
	.header-bottom ul li select {
		height: 26px;
	}
	.header-bottom {
		padding: 5px 0px;
	}
	/*----- Toggle Btn -----*/
	.navbar,
	.navbar>.container,
	.navbar>.container-fluid {
		display: inherit;
		flex-wrap: inherit;
		justify-content: inherit;
		align-items: inherit;
		flex-flow: inherit;
		position: inherit;
	}
	.navbar-expand-lg .navbar-toggler {
		display: block;
	}
	.navbar-header {
		width: 100%;
		display: block;
	}
	.navbar-header .navbar-toggler {
		text-align: right;
		line-height: 1.25em;
		margin: 0 0 0 auto;
		width: auto;
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-toggler .navbar-toggler-icon {
		background: url("../images/menu-button1.png") no-repeat;
		background-size: 100%;
	}
	.navbar-toggler .navbar-toggler-icon:focus {
		background: transparent;
		border: none;
	}
	.navbar-toggler:focus,
	.navbar-toggler:hover {
		background: transparent;
		border: none;
	}
	.navbar .navbar-collapse .navbar-nav,
	.navbar .navbar-collapse .navbar-nav > li {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
	}

	/*----- Footer Section -----*/
	.footer-top-sec .footer-sec-three {
		text-align: center;
		margin-top: 20px;
	}
	.footer-top-sec .footer-sec-three li {
		min-width: 25%;
	}
	.footer-bottom-sec .container {
		display: inherit;
		justify-content: inherit;
		text-align: center;
	}
	.footer-bottom-sec .bottom-navbar,
	.footer-bottom-sec .copyright-sec {
		margin-bottom: 0;
		align-self: inherit;
	}
	.footer-top-sec .bdr-sec {
		border-right: none;
	}
	.other-hotels-wrap .row > div {
		margin-bottom: 20px;
	}
	.other-hotels-wrap .row {
		justify-content: space-around;
	}
	
	/*------ Lightbox 9 -----*/
	
	.modal-dialog {
		max-width: 93%;
	}
	/*----- Lightbox 3 -----*/

	#roomdetail .room-list {
		margin-bottom: 13px;
	}
	
	/*----- Lightbox 5 ------*/
	
	.hotel .tab-content p:last-child {
		margin-bottom: 15px;
	}
	#map .map-sec {
		width: 665px;
	}
	#reviews .content {
		margin-bottom: 20px;
	}
	#reviews .sidebar-info .logo-wrap li {
		width: auto;
	}
	#reviews .sidebar-info .logo-wrap {
		text-align: left;
	}
	.gallery-slider .slider-nav .slick-list .slick-slide {
		margin-right: 15px;
		width: 80px !important;
	}
}

@media only screen and (max-width: 767px) {
	/*----- Common Section -----*/
	.d-sec-none {
		display: block;
	}
	.display-sec-hidden {
		display: none;
	}
	.remove#mobile-booking-form {
		display: none;
	}
	.guest-detail-info .checkbox-wrap {
		margin-top: 15px;
	}
	/*----- Header section -----*/
	.navbar-collapse {
		text-align: center;
	}
	.navbar .home-logo {
		max-width: 145px;
	}
	.navbar {
		padding: 14px;
	}
	.navbar-header {
		display: flex;
		justify-content: space-between;
	}
	.navbar-header .custom-select {
		background: transparent url("../images/select-arrow1.png") no-repeat scroll right !important;
		border-radius: 0px;
		border: none;
		text-transform: uppercase;
		color: #ffffff;
		padding: 5px 15px 5px 5px;
	}
	.navbar-header .custom-select option {
		color: rgba(51, 51, 51, 0.7);
	}
	.navbar .navbar-brand,
	.navbar-header .select-wrap,
	.navbar-expand-lg .navbar-toggler {
		align-self: center;
		z-index: 999;
	}
	.navbar-header .select-wrap {
		display: inline-block;
		align-self: center;
		position: absolute;
		right: 43%;
	}
	.header-bottom ul li:first-child {
		display: block;
	}
	.header-bottom ul li {
		display: none;
	}
	.header-bottom ul {
		text-align: left;
	}
	.header-bottom {
		padding: 20px 0px 8px;
	}
	.header-bottom .container {
		display: flex;
		justify-content: space-between;
	}
	.new-search-wrap a {
		width: 140px;
		line-height: 2.3em;
		border-radius: 2px;
		background-color: #e96742;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		display: inline-block;
	}
	.new-search-wrap a img {
		margin-right: 10px;
	}
	.new-search-wrap a:hover {
		opacity: 0.7;
	}
	.header-bottom ul li a {
		padding: 6px 15px;
	}
	#mobile-form .mobile-form {
		display: none;
	}
	
	/*----- Main Section ------*/
	
	.choose-your-room-wrap .select-room-wrap {
		padding: 0px 5px 15px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .price span:nth-child(2) {
		display: inline-block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		color: rgba(51, 51, 51, 0.4);
	}

	.padding-tb {
		padding: 10px 0px;
	}
	.main-sec {
		order: 1;
	}
	.sidebar-sec {
		margin-bottom: 15px;
	}
	.sidebar-wrap .cancellation-sec {
		display: none;
	}
	#mobile-form .my-booking-form {
		padding: 40px 20px 20px;
	}
	.sidebar-wrap .my-booking-form {
		display: block;
	}
	.my-booking-form .text-right {
		position: relative;
	}
	.my-booking-form a.close-btn {
		position: absolute;
		top: -30px;
		right: 22px;
	}
	.my-booking-form a.close-btn:after,
	.my-booking-form a.close-btn:before {
		content: "";
		position: absolute;
		background: #485260;
		width: 20px;
		height: 1px;
		left: 0;
		right: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: -2px 5px;
		transform-origin: -2px 5px;
	}
	.my-booking-form a.close-btn:after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 21px 6px;
		transform-origin: 21px 6px;
	}
	#mobile-booking-form .my-booking-heading .content span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 13px;
		font-weight: 400;
		text-align: left;
		color: #ffffff;
	}
	#mobile-booking-form .my-booking-heading .content h4 {
		margin-bottom: 5px;
	}
	#mobile-booking-form .my-booking-heading a.edit {
		position: relative;
		font-size: 0;
		display: inline-block;
		width: 20px;
	}
	#mobile-booking-form .my-booking-heading a.edit:after {
		content: "\f107";
		position: absolute;
		right: 15px;
		top: 6px;
		transform: translateY(-50%);
		font-size: 45px;
		font-family: FontAwesome;
	}
	#mobile-booking-form .my-booking-heading.rotate a.edit:after {
		content: "\f106";
	}
	#mobile-booking-form .open-section {
		display: none;
	}
	#mobile-booking-form  .my-booking-heading div {
		width: 49%;
	}
	.sec-title h4 {
		text-transform: capitalize;
	}
	
	/*----- Common Section -----*/
	
	input[type="text"], input[type="email"], 
	input[type="url"], input[type="password"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="number"] {
		height: 35px;
	}
	
	/*----- Get Off Section -----*/
	
	.grid-item.price-section {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-left: 4px solid #a99874;
	}
	.grid-item.price-section > div {
		align-self: center;
	}
	.grid-item.price-section .price-sec span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #a99874;
	}
	.grid-item.price-section .content p {
		margin-bottom: 0px;
	}
	.grid-item.price-section .discount-btn a {
		width: 82px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		color: #ffffff;
		background-image: linear-gradient(to bottom, #c4a883, #9d895f);
		border-radius: 2px;
		display: inline-block;
		line-height: 2.1em;
		vertical-align: middle;
	}
	.grid-wrapper .grid-item .content-sec .sm-dev {
		display: block;
	}
	.grid-wrapper .grid-item .content-sec .lg-dev {
		display: none;
	}
	.grid-wrapper .grid-item.content-section {
		border-left: 4px solid #a99874;
	}
	.grid-wrapper .grid-item .content-sec {
		padding: 10px;
	}
	.grid-wrapper .grid-item {
		margin-bottom: 20px;
	}
	.grid-wrapper .grid-item .grid-slider img {
		width: 100%;
	}
	/*----- Choose your room wrap -----*/
	.sec-title {
		margin-bottom: 20px;
	}
	.sec-title .title-sec {
		display: block;
		width: 100%;
		text-align: center;
	}
	.choose-your-room-wrap .grid-content {
		padding: 10px;
	}
	.choose-your-room-wrap .grid-content .content ul,
	.choose-your-room-wrap .detail-btn a span,
	.choose-your-room-wrap .grid-content p,
	.slider {
		display: none;
	}
	.choose-your-room-wrap .grid-slider {
		margin-bottom: 10px;
	}
	.choose-your-room-wrap .grid-slider img {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		max-width: 500px;
	}
	.choose-your-room-wrap .choose-section span {
		text-align: left;
	}
	.choose-your-room-wrap .choose-section form {
		width: 100%;
		text-align: left;
	}
	.choose-your-room-wrap .choose-section form .radio {
		width: 49%	;	
	}
	.choose-your-room-wrap .choose-section > span {
		display: block;
		margin-bottom: 10px;
	}
	.choose-your-room-wrap .choose-section form {
		margin-left: 0px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec:first-child {
		border-top: none;
		padding-top: 0px;
	}
	.choose-your-room-wrap .grid-content {
		margin-bottom: 10px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec h6 a::after {
		right: inherit;
		left: 7px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec {
		display: inherit;
		justify-content: inherit;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec h6 a {
		min-width: 100%;
		padding-left: 26px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .title {
		margin-bottom: 10px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .price,
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .select-btn {
		display: inline-block;
		width: 47%;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .price {
		margin-left: 20px;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .select-btn {
		text-align: right;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec {
		padding: 18px 0px;
	}
	
	/*----- Bp2 Enhancement Section ------*/
	
	.enhance-your-stay-wrap .sec-title h4 span {
		display: inline-block;
	}
	.enhance-your-stay-wrap .sec-title {
		margin-bottom: 10px;
	}
	.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec {
		display: inherit;
		justify-content: inherit;
	}
	.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec > div {
		align-self: inherit;
	}
	.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec .img-sec {
		display: none;
	}
	.bp2-page-content .grid-item-wrap .grid-item .content-sec {
		width: 100%;
	}
	.bp2-page-content .grid-item-wrap .grid-item.course-dinner .price {
		width: 100%;
	}
	.bp2-page-content .grid-item-wrap .grid-item.course-dinner .price span {
		display: inline-block;
		vertical-align: middle;
	}
	.bp2-page-content .grid-item-wrap .grid-item .checkbox-val .form-check-label {
		width: 100%;
		margin-left: 20px;
	}
	.bp2-page-content .grid-item-wrap .grid-item.course-dinner .price span:nth-child(2) {
		margin-left: 5px;
	}
	.bp2-page-content .grid-item-wrap .grid-item .content-sec .title-section {
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
	}
	.bp2-page-content .grid-item-wrap .grid-item .content-sec .title-section h5,
	.bp2-page-content .grid-item-wrap .grid-item .content-sec .title-section div {
		align-self: center;
	}
	.bp2-page-content .grid-item-wrap .grid-item {
		padding: 12px;
	}
	.bp2-page-content .grid-item-wrap .title-section .more-info-wrap {
		margin: 0;
	}
	.bp2-page-content .grid-item-wrap .title-section .more-info-wrap a {
		text-transform: capitalize;
		width: 78px;
	}
	.bp2-page-content .grid-item-wrap .grid-item .content-sec .title-section h5 {
		margin-bottom: 0px;
	}
	.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec .value {
		display: inline-block;
		text-align: right;
		width: 46%;
	}
	.bp2-page-content .grid-item-wrap .grid-item .content-sec p {
		margin-bottom: 8px;
	}
	.bp2-page-content .grid-item-wrap .grid-item .price {
		width: 49%;
		display: inline-block;
	}
	.bp2-page-content .grid-item-wrap .grid-item .price span {
		text-align: left;
		margin-left: 20px;
	}
	.grid-sec-wrap .grid-sec {
		display: inherit;
		justify-content: inherit;
	}
	.grid-sec-wrap .add-preferences {
		margin-bottom: 20px;
	}
	.grid-sec-wrap .grid-sec .comment-sec .form-group {
		margin-bottom: 0px;
	}
	.grid-sec-wrap {
		padding: 0;
	}
	
	/*----- Bp3 Guset Detail Section ------*/
	
	.details-info-wrap .details-info-sec span.my-address, 
	.details-info-wrap .details-info-sec ul {
		display: block;
		vertical-align: top;
	}
	.details-info-wrap .details-info-sec span.my-address {
		margin-bottom: 10px;
	}
	.details-info-wrap .details-info-sec ul {
		margin-left: 15px;
	}
	.details-info-wrap .title-sec {
		text-align: center;
	}
	.details-info-wrap .title-sec  h4 {
		text-transform: capitalize;
	}
	.guest-detail-element .guest-detail-info .featured-thumb, 
	.guest-detail-element .guest-detail-info .content-sec {
		width: 46%;
	}
	.guest-detail-element .guest-detail-info .featured-thumb img {
		width: 100%;
		max-width: 200px;
	}
	.guest-detail-element .guest-detail-info {
		margin-bottom: 15px;
	}
	.total-ammount {
		background: #ffffff;
		margin-bottom: 30px;
		box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
		padding: 10px 15px;
	}
	.total-ammount ul li {
		display: flex;
		justify-content: space-between;
	}
	.details-info-wrap .details-info-sec {
		padding: 15px;
	}
	.total-ammount ul li span {
	  font-family: 'Source Sans Pro', sans-serif;
	  font-size: 18px;
	  font-weight: 400;
	  color: rgba(51, 51, 51, 0.7);
	}
	.total-ammount ul li:nth-child(2) span {
		color: #a99874;
	}
	.master-card-sec {
		margin-bottom: 0;
		text-align: right;
	}
	
	/*------ Bp4 Available Section -----*/
	
	.thankyou-sec-wrap .arrival-info-sec ul li .title, 
	.thankyou-sec-wrap .arrival-info-sec ul li .content {
		display: block;
		width: 100%;
	}
	.thankyou-sec-wrap .arrival-info-sec ul li .title span {
		font-weight: 700;
	}
	.thankyou-sec-wrap .arrival-info-sec .total-wrap > div {
		width: auto;
	}
	.thankyou-sec-wrap .arrival-info-sec .btn-detail li:first-child {
		display: none;
	}
	.thankyou-sec-wrap .arrival-info-sec .btn-detail li {
		display: block;
	}
	.thankyou-sec-wrap .arrival-info-sec .btn-detail li a {
		width: 100%;
	}
	.other-hotels-wrap .row > div {
		max-width: 100%;
		width: 100%;
		flex: 100%;
	}
	.other-hotels-wrap .row .grid-item .featured-thumb img {
		max-width: 500px;
		width: 100%;
	}
	
	/*----- Bp5 Section ------*/
	
	.booking-dates {
		background: #e2e1e0;
		padding: 15px;
		margin-bottom: 30px;
	}
	.booking-dates .booking-sec a {
		width: 100%;
		font-family: 'Muli', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: #e96742;
		border-radius: 2px;
		background-color: rgba(255, 255, 255, 0);
		border: solid 0.5px #e96742;
		display: inline-block;
		line-height: 2.5em;
		position: relative;
	}
	.booking-dates .booking-sec a::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		font-family: FontAwesome;
		font-size: 20px;
	}
	.booking-dates .booking-sec.back-a-week a::after {
		content: "\f106";
	}
	.booking-dates .booking-sec.forward-a-week a::after {
		content: "\f107";
	}
	.booking-dates .booking-sec {
		margin-bottom: 10px;
	}
	.booking-dates li .date-sec span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: rgba(51, 51, 51, 0.7);
	}
	.booking-dates .date-sec span span {
		font-size: 20px;
		 color: rgba(51, 51, 51, 0.7);
		font-weight: 700;
		margin: 0 4px;
	}
	.booking-dates .content-sec > div {
		display: inline-block;
		vertical-align: middle;
	}
	.booking-dates .content-sec .no-room span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: rgba(51, 51, 51, 0.7);
		font-style: italic;
	}
	.booking-dates .content-sec .package-ex {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: rgba(51, 51, 51, 0.7);
		font-style: italic;
		display: inline-block;
		vertical-align: middle;
	}
	.booking-dates .content-sec .package-ex .moon-wrap {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	.booking-dates .content-sec .package-ex .moon-wrap span {
		position: absolute;
		top: -4px;
		left: 11px;
	}
	.booking-dates .content-sec .price span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: rgba(51, 51, 51, 0.7);
	}
	.booking-dates .content-sec .book a {
		display: inline-block;
		background-color: #e96742;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
  		font-weight: 700;
		text-align: center;
		color: #ffffff;
		width: 65px;
		line-height: 2em;
		border-radius: 2px;
		margin-left: 10px;
	} 
	.booking-dates ul li {
		list-style: none;
		display: flex;
		justify-content: space-between;
		background-color: #ffffff;
		border: solid 1px rgba(37, 53, 71, 0.3);
		padding: 8px 10px;
		margin-bottom: 10px;
	}
	.booking-dates ul li > div {
		align-self: center;
	}
	
	/*----- Footer Section -----*/
	.footer-top-sec .row div {
		max-width: 100%;
		flex: 100%;
	}
	.footer-top-sec .row .footer-sec-one {
		text-align: center;
		margin-bottom: 50px;
	}
	.footer-top-sec .bdr-sec {
		border-left: none;
	}
	.footer-top-sec h6 {
		display: none;
	}
	.footer-top-sec .footer-sec-two li a {
		color: #ffffff;
		border-bottom: none;
	}
	.footer-top-sec .footer-sec-two li a:hover,
	.footer-top-sec .footer-sec-two li a:focus {
		border-bottom: none;
	}
	.hidden-xs {
		display: none;
	}
	.footer-top-sec .footer-sec-two li {
		border-bottom: 1px solid #8f8061;
		padding: 5px 0px;
	}
	.footer-top-sec .footer-sec-two li:first-child {
		border-top: 1px solid #8f8061;
	}
	.footer-top-sec .footer-sec-three .client-logo,
	.footer-top-sec .footer-sec-three .copyright-sec {
		display: block;
	}
	.footer-top-sec .footer-sec-one ul {
		display: none;
	}
	.footer-bottom-sec {
		display: none;
	}
	.footer-top-sec .footer-sec-three li {
		margin-bottom: 0px;
	}
	.footer-top-sec .footer-sec-three {
		margin-top: 10px;
	}
	.footer-top-sec .footer-sec-three ul {
		margin-bottom: 10px;
	}
	.footer-top-sec .footer-sec-two .list-one .career-btn-eur {
		width: 325px;
		margin: 25px auto 0;
	}
	.gallery-slider .slider-nav {
		display: none;
	}
	.gallery-slider .slider-for {
		margin-bottom: 0px;
	}
	.slick-arrow {
		font-size: 40px;
	}
	.footer-cancellation-sec {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #363636;
		padding: 5px 0px;
		text-align: center;
	}
	.footer-cancellation-sec span a {
		font-size: 14px;
		color: #c4a883;
		margin-left: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
	}
	.footer-cancellation-sec span {
		color: #ffffff;
	}
	.footer-top-sec {
		margin-bottom: 30px;
	}
	/*-----------------------------------------------------------
	- Lighbox Section
	-----------------------------------------------------------*/
	
	/*----- LightBox 1 -----*/
	
	#getoff .modal-dialog .modal-body .logo, 
	#almost .modal-dialog .modal-body .logo, 
	#getoff .modal-dialog .modal-content::before, 
	#almost .modal-dialog .modal-content::before {
		display: none;
	}
	.modal-dialog .close {
		display: none;
	}
	#getoff .modal-dialog .modal-body, 
	#almost .modal-dialog .modal-body {
		padding: 15px;
	}
	.modal-dialog .close-botton {
		text-align: right;
	}
	.modal-dialog .close-botton .close-btn {
		width: 70px;
		font-family: 'Muli', sans-serif;
		font-size: 14px;
		font-weight: 400;0
		text-align: center;
		color: #e96742;
		border: 1px solid #e96742;
		background: #ffffff;
		box-shadow: none;
		border-radius: 2px;
		text-transform: capitalize;
	}
	.modal-dialog .close-botton .close-btn:hover {
		background: #e96742;
		color: #ffffff;
	}
	.modal-dialog .close-botton.top {
		margin-top: 10px;
	}
	#getoff .modal-dialog .modal-content form .login-wrap span {
		margin-bottom: 0px;
	}
	#getoff .modal-dialog .modal-content form button[type="submit"] {
		margin-bottom: 12px;
	}
	.modal-dialog .modal-content h3 {
		margin-bottom: 20px;
	}
	
	/*------ Lightbox 2 ------*/
	
	#almost .activate-acc span:first-child {
		width: 100%;
		margin-right: 0;
		text-align: center;
		margin-bottom: 10px;
	}
	#almost .activate-acc span:nth-child(2) {
		width: 100%;
	}
	
	/*----- Lightbox 3 -----*/
	
	#roomdetail .roomdetail-slider {
		display: none;
	}
	#roomdetail .modal-body {
		padding: 10px;
	}
	
	/*----- Lightbox 5 -----*/
	
	.hotel .nav-tabs .nav-link span {
		display: none;
	}
	.hotel .nav-tabs .nav-link::before {
		left: 0;
		right: 0;
	}
	.hotel .nav-tabs .nav-link {
		padding: 22px 26px;
	}
	#hotel .modal-dialog .close {
		display: block;
	}
	#map .google-map a {
		font-family: 'Muli', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #e96742;
		border: 1px solid #e96742;
		background: #ffffff;
		box-shadow: none;
		text-transform: uppercase;
		padding: 6px 10px;
	}
	#map .google-map a:hover {
		background: #e96742;
		color: #ffffff;
	}
	#map .bottom-sec {
		display: flex;
		justify-content: space-between;
	}
	#map .bottom-sec > div {
		align-self: center;
	}
	#map .map-sec {
		height: 335px;
	}
	#reviews .content {
		display: none;
	}
	#reviews .sidebar-info .logo-wrap {
		display: none;
	}
}

@media only screen and (max-width: 479px) {
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .price,
	.choose-your-room-wrap .select-room-wrap .grid-item-sec .select-btn {
		display: inline-block;
		width: 45%;
	}
	.navbar-header .select-wrap {
		right: 33%;
	}
	.grid-item.price-section .content {
		margin: 0 12px;
		text-align: center;
	}
	.choose-your-room-wrap .select-room-wrap .grid-item-sec a.select {
		width: 100px;
		font-size: 13px;
	}
	#mobile-booking-form .my-booking-heading .content span {
		font-size: 12px;
	}
	.sidebar-wrap .my-booking-heading h4 {
		font-size: 18px;
	}
	
	/*----- Popups Section ------*/
	#extralinfo .featured-thumb {
		margin-bottom: 20px;
	}
	
	/*----- Lightbox 3 -----*/
	
	#roomdetail .room-list ul {
		width: 100%;
		margin-left: 10px;
	}
	#roomdetail .room-detail .room-info .title {
		width: 100%;
	}
	#roomdetail .room-detail .room-info .title span {
		font-weight: 700;
	}
	#roomdetail .room-detail .room-info .content {
		width: 100%;
	}
	#roomdetail .room-detail .room-info:last-child {
		margin-bottom: 0px;
	}
	
	/*----- Lightbox 5 -----*/
	
	#map .map-sec {
		width: 350px;
	}
	#roomdetail .room-list ul li {
		width: 100%;
	}
	.guest-detail-element .guest-detail-info .content-sec h5 {
		font-size: 15px;
	}
	.details-info-wrap .details-info-sec ul {
		margin-left: 0px;
	}
	.choose-your-room-wrap .choose-section form .radio {
		width: 48.4%;
	}
}
