/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css");
body,
html {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	height: 100%;
}

body {
	background: #eeeeee;
}

.wrapper {
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

ul,
ol {
	padding: 0;
	margin-bottom: 0;
}

ol {
	margin-left: 1.1em;
}

address {
	margin-bottom: 0;
}

img {
	height: auto;
	max-width: 100%;
}

.center-block {
	float: none;
}


/*---------- Heading ----------*/

h1 {
	font-size: 56px;
	text-transform: uppercase;
}

h2,
h2 a {
	font-size: 46px;
	text-transform: uppercase;
}

h3,
h3 a {
	font-size: 30px;
	text-transform: normal;
}

h4,
h4 a {
	font-size: 22px;
	text-transform: uppercase;
}

h5,
h5 a {
	font-size: 20px;
	text-transform: inherit;
	letter-spacing: normal;
}

h6,
h6 a {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	color: rgba(51, 51, 51, 0.7);
}

span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 10px;
	font-family: 'Source Sans Pro', sans-serif;
	white-space: normal;
	word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
	word-break: break-word;
	word-wrap: break-word;
}


/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button[type="submit"] {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	text-transform: uppercase;
	display: inline-block;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 1.5em;
	color: #ffffff;
	font-weight: 400;
	width: 115px;
	height: 33px;
	border-radius: 2px;
	background-color: #e96742;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:focus {
	border: 1px solid #444242;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ffffff;
	color: #444242;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
	padding: 2px 10px;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #555555;
	font-size: 15px;
	border: 1px solid rgba(37, 53, 71, 0.3);
	letter-spacing: 0em !important;
}

textarea.form-control {
	padding: 10px;
	resize: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
	height: 40px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #8d805c;
}

.slick-slide {
	outline: none;
}

.form-control::-webkit-input-placeholder {
	color: #555555;
	text-transform: uppercase;
}

.form-control::-moz-placeholder {
	color: #555555;
	text-transform: uppercase;
}

.form-control:-ms-input-placeholder {
	color: #555555;
	text-transform: uppercase;
}

input:-moz-placeholder {
	color: #555555;
	text-transform: uppercase;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0px;
}

/*---------- 2.1.3 Links ----------*/

a {
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

a:hover,
a:active,
a:focus {
	outline: 0;
	text-decoration: none;
	color: #1a75bb;
}


/*---------- 2.2 Table -----------*/

table,
th,
td {
	border: 1px solid #eaeaea;
}

table {
	width: 100%;
}

th,
td {
	padding: 0.4375em;
}

table,
dd,
address {
	margin: 0 0 1.75em;
}

select::-ms-expand {
	display: none;
}

select {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	background: white url("../images/select-arrow.png") no-repeat scroll right !important;
}


/*----- Common Css -----*/

.d-sec-none {
	display: none;
}


/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

.navbar {
	background: #8d805c;
	padding: 0px;
}

.navbar .collapse.navbar-collapse {
	flex-direction: column;
	padding: 0px;
}

.navbar .navbar-brand {
	position: absolute;
	top: 0;
	z-index: 1000;
	background-color: #fff;
	padding: 0px;
}

.navbar-header .select-wrap {
	display: none;
}


/*----- Navbar Top Section -----*/

.navbar .navbar-nav-top {
	margin-bottom: 12px;
}

.navbar .navbar-nav-top > li >a {
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	line-height: 0.8em;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.home-header-special-offers {
	background-color: #e06739;
}

.navbar .navbar-nav>.show>a,
.navbar .navbar-nav>.show>a:hover,
.navbar .navbar-nav>.show>a:focus {
	background-color: #9d6125;
	color: #fff;
}


/*----- Navbar Bottom Section -----*/

.navbar .navbar-nav-bottom li a {
	padding: 7px;
	font-size: 18px;
}

.navbar .navbar-nav-bottom > li > a {
	color: #ffffff;
	font-family: font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar .nav-espa {
	background: #c1a880;
}

.navbar .navbar-nav-bottom li a {
	padding: 10px 7px;
	font-size: 18px;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}


/*----- Header Bottom -----*/

.header-bottom {
	background: #e2e1e0;
	padding: 8px 0px;
}

.header-bottom ul {
	text-align: right;
}

.header-bottom ul li a {
	display: inline-block;
	padding: 4px 15px;
	border-radius: 2px;
	background-color: rgba(220, 220, 220, 0);
	border: 1px solid #e96742;
	color: #e96742;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
}

.header-bottom ul li a:hover {
	background: #e96742;
	color: #ffffff;
}

.header-bottom ul li.list-inline-item {
	margin-right: 15px;
}

.header-bottom ul li.list-inline-item:last-child {
	margin-right: 0px;
}

.header-bottom ul li select {
	width: 73px;
	height: 32px;
	border-radius: 0px;
	background-color: #ffffff;
	border: solid 1px rgba(37, 53, 71, 0.3);
	padding: 0 6px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-align: left;
	color: rgba(51, 51, 51, 0.7);
	text-transform: uppercase;
}


/*----- Drop Down Menu -----*/

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.dropdown-menu {
	padding: 5px 0px;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #e06739;
}

.dropdown .dropdown-toggle::after {
	font-size: 14px;
	vertical-align: middle;
}


/*----- Social Share -----*/

.navbar .navbar-nav-top li.social-icons a {
	padding-top: 0px;
	margin-right: 6px;
}

.navbar .navbar-nav-top li.social-icons a:last-child {
	margin-right: 0px;
}


/*----- Home Page Content -----*/

.padding-tb {
	padding: 40px 0px;
}

.grid-wrapper .grid-item {
	position: relative;
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
}

.grid-wrapper .grid-item .img-sec {
	background-size: cover;
	background-repeat: no-repeat;
	width: 150px;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.grid-wrapper .grid-item .content-sec {
	padding: 10px 20px;
}

.grid-wrapper .grid-item.thumb-section .content-sec {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 10px 170px;
}

.grid-wrapper .grid-item .content-sec p {
	margin-bottom: 0px;
}

.grid-wrapper .grid-item .content-sec .content {
	margin-right: 20px;
	width: calc(100% - 120px);
}

.grid-wrapper .grid-item .content-sec .discount-btn {
	width: 120px;
}

.grid-wrapper .grid-item .content-sec h5 {
	margin-bottom: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.05em;
	letter-spacing: normal;
	color: #a99874;
}

.grid-wrapper .grid-item .content-sec > div {
	align-self: center;
}

.grid-wrapper .grid-item .content-sec .discount-btn a {
	width: 117px;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #c4a883, #9d895f);
	font-size: 15px;
	line-height: 2.2em;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out 0s;
}

.grid-wrapper .grid-item .content-sec .discount-btn a:hover {
	background: #ffffff;
	color: #9d895f;
	border-color: #9d895f;
}

.grid-wrapper .grid-item .content-sec .sm-dev {
	display: none;
}


/*----- Common Css ------*/

.sec-title {
	margin-bottom: 30px;
}

.sec-title .title-sec {
	width: 255px;
	display: inline-block;
	vertical-align: middle;
}

.sec-title h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 0.95em;
	color: #a99874;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.slider {
	width: calc(100% - 260px);
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

/*
.slider ul {
	display: flex;
	justify-content: space-between;
}
*/

.slider ul:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	height: 1px;
	width: 97%;
	background: #a99874;
	content: "";
}

.slider ul li {
	list-style: none;
	display: inline-block;
	width: 32.8%;
}
.slider ul li:nth-child(2) {
	text-align: center;
}
.slider ul li:last-child {
	text-align: right;
}
.slider ul li span {
	height: 12px;
	width: 12px;
	border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #a99874;
	display: inline-block;
	position: relative;
}

.slider ul li a {
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #eeeeee;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(-50%);
	margin: 0 auto;
}

.slider ul li a.active {
	background: #a99874;
	height: 8px;
	width: 8px;
}


/*----- Slick Arrows -----*/

.grid-slider {
	position: relative;
	z-index: 0;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 999;
	cursor: pointer;
	transform: translateY(-50%);
	font-size: 80px;
}

.slick-arrow i {
	color: #ffffff;
}

.slick-prev.slick-arrow {
	left: 5px;
}

.slick-next.slick-arrow {
	right: 5px;
}


/*----- Choose Your Room -----*/

.grid-item {
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
}

.choose-your-room-wrap .grid-item:last-child {
	margin-bottom: 0px;
}

.choose-your-room-wrap .grid-content {
	position: relative;
	padding: 20px 20px 0px 250px;
	margin-bottom: 25px;
	overflow: hidden;
}

.choose-your-room-wrap .grid-content .content-title {
	display: flex;
	justify-content: space-between;
}

.grid-item h5,
.grid-item h5 a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: normal;
	color: rgba(51, 51, 51, 0.8);
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 0px;
}

.grid-item h5 a:hover {
	color: #e96742;
}

.choose-your-room-wrap .grid-content .content ul {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.choose-your-room-wrap .grid-content .content ul li {
	margin: 0px;
}

.choose-your-room-wrap .grid-content .content,
.choose-your-room-wrap .grid-content .detail-btn {
	align-self: center;
}

.choose-your-room-wrap .detail-btn a {
	display: inline-block;
	float: right;
	padding: 0 12px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 2.2em;
	letter-spacing: normal;
	text-align: center;
	color: #e96742;
	display: inline-block;
	border-radius: 2px;
	background-color: #ffffff;
	border: 1px solid #e96742;
}

.choose-your-room-wrap .detail-btn a:hover {
	background: #e96742;
	color: #ffffff;
}

.choose-your-room-wrap .grid-content .content-title {
	margin-bottom: 15px;
}

.choose-your-room-wrap .grid-content p {
	margin-bottom: 20px;
}

.choose-your-room-wrap .choose-section {
	text-align: right;
}

.choose-your-room-wrap .choose-section span {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6em;
	color: rgba(51, 51, 51, 0.7);
}

.choose-your-room-wrap .choose-section form {
	display: inline-block;
	margin-left: 10px;
}

.choose-your-room-wrap .choose-section form .radio {
	width: 135px;
	line-height: 2.8em;
	background-color: #eeeeee;
	text-align: center;
	margin-bottom: 0px;
	margin-right: 5px;
	display: inline-block;
}

.choose-your-room-wrap .choose-section form .radio:last-child {
	margin-right: 0px;
}

form input[type=radio] {
	-webkit-appearance: none;
	display: none;
}

form input[type=radio]:checked + span.new-radio {
	background: #9d895f;
	;
	position: relative;
	width: 16px;
	height: 16px;
	display: inline-block;
	border-color: #9d895f;
}

form input[type=radio]:checked + span.new-radio:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 5px;
	background: transparent;
	top: 24%;
	left: 2px;
	right: 0;
	text-align: center;
	border: 2px solid #ffffff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

span.new-radio {
	background: #fff;
	border: solid 2px #6c6c6c;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 7px;
	border: solid 1px rgba(37, 53, 71, 0.3);
	cursor: pointer;
	border-radius: 100%;
	display: inline-block;
	margin-left: 0px;
	top: -1px;
	position: relative;
}

.radio label {
	margin-bottom: 0px;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: bottom;
	font-size: 15px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.radio label .new-radio {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	position: inherit;
	margin-top: -3px;
	margin-right: 5px;
	border-radius: 100%;
}

.choose-your-room-wrap .grid-item .img-sec {
	position: absolute;
	top: 0;
	left: 0;
}

.choose-your-room-wrap .select-room-wrap {
	padding: 0px 20px 20px;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec {
	border-top: 1px solid #dbd4cb;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec .price span:nth-child(2) {
	display: none;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec > div {
	align-self: center;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec:last-child {
	padding-bottom: 0px;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec .title {
	min-width: 270px;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec h6 {
	margin-bottom: 0px;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec h6 a {
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0px;
	line-height: 0.91em;
	position: relative;
	min-width: 240px;
	display: inline-block;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec h6 a::after {
	content: "\f05a";
	position: absolute;
	top: 0;
	right: -50px;
	font-family: FontAwesome;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 0.91em;
	color: rgba(51, 51, 51, 0.7);
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec a.select {
	width: 115px;
	line-height: 2.2em;
	border-radius: 2px;
	background: #e96742;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	border: 1px solid #e96742;
}

.choose-your-room-wrap .select-room-wrap .grid-item-sec a:hover {
	background: #ffffff;
	color: #e96742;
}


/*---------------------------------------------------------------
4.0 Footer
---------------------------------------------------------------*/


/*----- Footer Top -----*/

.footer-top-sec {
	background: #7b6c4a;
	padding: 20px 0px;
}

.footer-top-sec .footer-sec-one h6 {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0px;
}

.footer-top-sec .footer-sec-one span {
	display: block;
	font-size: 14px;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.footer-top-sec .footer-sec-one span.tel span {
	display: inline-block;
	border-bottom: 1px dotted #fff;
	line-height: normal;
}

.footer-top-sec .footer-sec-one span a {
	color: #ffffff;
}

.footer-top-sec .footer-sec-one span a:hover {
	opacity: 0.6;
}

.footer-top-sec .footer-sec-one ul {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.footer-top-sec .footer-sec-one ul li {
	align-self: center;
}

.footer-top-sec h6 {
	color: #ffffff;
}

.footer-top-sec .footer-sec-two li {
	list-style: none;
	line-height: normal;
}

.footer-top-sec .footer-sec-two li a {
	color: #cec9bb;
	font-size: 13px;
	border-bottom: 1px solid transparent;
	line-height: normal;
}

.footer-top-sec .footer-sec-two li a:hover {
	border-color: #cec9bb;
}

.footer-top-sec .pad-right {
	padding-right: 35px;
}

.footer-top-sec .pad-left {
	padding-left: 35px;
}

.footer-top-sec .footer-sec-two .list-one .career-btn-eur {
	display: inline-block;
	margin-top: 20px;
	padding: 5px;
	text-align: center;
	display: block;
	border-radius: 3px;
	color: #fff;
	background-image: linear-gradient(-180deg, #ad9d77 0, #8c7d56 100%);
	outline: 1px solid #c1a880;
	outline-offset: -4px;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	font-size: 14px;
}

.footer-top-sec .bdr-sec {
	border-right: 1px solid #8d8165;
	border-left: 1px solid #8d8165;
}

.footer-top-sec .footer-sec-two {
	margin: 10px 0px;
}

.footer-top-sec .footer-sec-three {
	text-align: right;
}

.footer-top-sec .footer-sec-three h6 {
	margin: 10px 30px;
}

.footer-top-sec .footer-sec-three li {
	list-style: none;
	display: inline-block;
	min-width: 44%;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto 30px;
}

.footer-top-sec .footer-sec-three li:last-child {
	margin-bottom: 0px;
}

.footer-top-sec .footer-sec-three li a {
	display: inline-block;
}

.footer-top-sec .footer-sec-three .client-logo,
.footer-top-sec .footer-sec-three .copyright-sec {
	display: none;
}


/*----- Footer Bottom -----*/

.footer-bottom-sec .container {
	display: flex;
	justify-content: space-between;
}

.footer-bottom-sec .bottom-navbar,
.footer-bottom-sec .copyright-sec {
	align-self: center;
}

.footer-bottom-sec {
	background: #8c8062;
	padding: 6px 0px;
}

.footer-bottom-sec .bottom-navbar,
.footer-bottom-sec .copyright-sec {
	margin-bottom: 10px;
}

.footer-bottom-sec .bottom-navbar li a {
	font-size: 13px;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	display: inline-block;
	position: relative;
	transition: all 0.5s ease-in-out 0s;
	border-bottom: 1px solid transparent;
}

.footer-bottom-sec .bottom-navbar li a:hover {
	border-color: #ffffff;
}

.footer-bottom-sec .copyright-sec span,
.footer-top-sec .footer-sec-three .copyright-sec span {
	color: #cec9bb;
	font-size: 13px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.footer-top-sec .footer-sec-three .copyright-sec span {
	color: #ffffff;
}

.footer-bottom-sec .copyright-sec span a,
.footer-top-sec .footer-sec-three .copyright-sec span a {
	color: #ffffff;
	border-bottom: 1px solid transparent;
	display: inline-block;
}

.footer-bottom-sec .copyright-sec span a:hover,
.footer-top-sec .footer-sec-three .copyright-sec span a:hover {
	border-color: #ffffff;
}

.footer-bottom-sec .bottom-navbar li a::after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: -4px;
	height: 13px;
	width: 1px;
	background: #ffffff;
	transform: translateY(-50%);
}

.footer-bottom-sec .bottom-navbar li:last-child a::after {
	display: none;
}


/*----- Sidebar Section -----*/

.sidebar-wrap .sidebar-sec {
	margin-bottom: 10px;
	background-color: #e2e1e0;
}

.my-booking-heading div {
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
	width: 40%;
}

.sidebar-wrap .my-booking-sec {
	background: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
}

.sidebar-wrap .my-booking-form {
	display: none;
}

.sidebar-wrap .cancellation-sec {
	background: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
	padding: 10px 15px;
}

.sidebar-wrap .cancellation-sec span {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(51, 51, 51, 0.8);
}

.sidebar-wrap .cancellation-sec span a {
	font-weight: 700;
	color: #a99874;
	font-family: 'Muli', sans-serif;
}

.sidebar-wrap .cancellation-sec span a:hover {
	color: #e96742;
}

.sidebar-wrap .cancellation-sec span img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.my-booking-form {
	background-color: #e2e1e0;
	padding: 0px 20px 20px;
}

.my-booking-form .date-picker {
	position: relative;
}

.my-booking-form .date-picker .input-group-addon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background: none;
	border: none;
	color: rgba(37, 53, 71, 0.3);
}

.my-booking-form .date-picker input[type="text"] {
	height: 40px;
}

.my-booking-heading {
	background-image: linear-gradient(to left, #9d895f, #c4a883 51%, #9d895f);
	padding: 7px 7px 7px 15px;
	display: flex;
	justify-content: space-between;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.my-booking-heading .edit {
	width: 53px;
	line-height: 1.9em;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.25);
	display: inline-block;
	align-self: center;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.my-booking-heading.bookingFormOpen a.edit {
	position: relative;
/*    text-indent: -999px;*/
    background: inherit;
    height: 20px;
	display: inline-block;
    line-height: 1.9em;
	border-radius: 2px;
    vertical-align: top;
    -webkit-transition: background-color 1s linear;
    transition: background-color 1s linear;
	color: transparent;
}

.my-booking-heading.bookingFormOpen a.edit:after,
.my-booking-heading.bookingFormOpen a.edit:before {
	content: "";
	position: absolute;
	background: #485260;
	width: 20px;
	height: 1px;
	right: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: -2px 5px;
	transform-origin: -2px 5px;
	top: 0;
	z-index: 999;
}

.my-booking-heading.bookingFormOpen a.edit:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 21px 6px;
	transform-origin: 21px 6px;
}

.sidebar-wrap .my-booking-heading h4 {
	margin-bottom: 0px;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	align-self: center;
}

.sidebar-wrap .my-booking-heading.bookingFormOpen {
	background: #e2e1e0;
	padding: 10px 25px 7px;
	
	transition: background-color 1s linear;
}

.sidebar-wrap .my-booking-heading.bookingFormOpen h4 {
	color: #e2e1e0;
}

.sidebar-wrap .my-booking-sec {
	padding: 15px;
}

.sidebar-wrap .my-booking-sec .pad-btm {
	margin-bottom: 15px;
}

.sidebar-wrap .content-sec ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.sidebar-wrap .content-sec ul li:last-child {
	margin-bottom: 0px;
}

.sidebar-wrap .content-sec ul li span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: rgba(51, 51, 51, 0.7);
}

.sidebar-wrap .submit-form form {
	margin-top: 25px;
}

.sidebar-wrap .custom-select {
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	border: solid 1px rgba(37, 53, 71, 0.3);
	border-radius: 0px;
}

.sidebar-wrap a.promo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
	color: rgba(51, 51, 51, 0.7);
	display: inline-block;
	border-bottom: 1px solid rgba(51, 51, 51, 0.7);
	margin-bottom: 15px;
	margin-bottom: 15px;
}

.sidebar-wrap a.promo:hover {
	color: #a99874;
	border-color: #a99874;
}

.sidebar-wrap button.button {
	width: 100%;
	line-height: 2em;
	border-radius: 2px;
	background-color: #e96742;
	border: 1px solid #e96742;
	height: 40px;
	display: inline-block;
}

.sidebar-wrap input[type="submit"]:hover {
	background: #ffffff;
	color: #e96742;
}


/*----- Card Header -----*/

.sidebar-wrap .my-booking-sec #accordion {
	margin-bottom: 15px;
}

.sidebar-wrap .my-booking-sec #accordion .card {
	background: #eeeeee;
	border-radius: 0px;
	border: none;
	margin-bottom: 10px;
}

.sidebar-wrap .my-booking-sec #accordion .card:last-child {
	margin-bottom: 0px;
}

.sidebar-wrap .my-booking-sec #accordion .card .card-header {
	padding: 0px;
	border: none;
	background: none;
}

.sidebar-wrap .my-booking-sec #accordion .card .card-header h5 a {
	padding: 12px 8px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.4px;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	position: relative;
}

.sidebar-wrap .my-booking-sec #accordion .card .card-header h5 a.collapsed::after {
	content: "\f067";
	font-family: FontAwesome;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	position: absolute;
}

.sidebar-wrap .my-booking-sec #accordion .card .card-header h5 a::after {
	content: "\f068";
	font-family: FontAwesome;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	position: absolute;
}

.sidebar-wrap .my-booking-sec #accordion .card .card-body {
	padding: 0px 8px 10px;
}


/*----- Price Section -----*/

.total-value-sec {
	display: flex;
	justify-content: space-between;
}

.total-value-sec .title,
.total-value-sec .price {
	align-self: center;
}

.total-value-sec .price {
	text-align: right;
}

.total-value-sec .title h5,
.total-value-sec .price span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.total-value-sec:nth-child(2) .title h5,
.total-value-sec:nth-child(2) .price span {
	color: #a99874;
}

.total-value-wrap span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	color: #a7a8ab;
	margin-bottom: 10px;
	display: block;
}

.total-value-wrap a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #e96742;
}

.total-value-wrap a:hover {
	color: #000000;
}


/*------------------------------------------------------
- Modal Dialog
------------------------------------------------------*/

.modal-dialog .modal-content {
	border-radius: 0px;
	position: relative;
	text-align: left;
}

.modal-dialog .close {
    position: absolute;
    top: -50px;
    right: 0px;
    opacity: 1;
    color: #ffffff;
    font-size: 45px;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: right;
	z-index: 999;
}

#hotel .modal-dialog .close {
	top: -10px;
	right: 12px;
}

.modal-dialog .close:hover,
.modal-dialog .close:focus {
	background: none;
	border: none;
}

.modal {
	text-align: center;
}

.modal-open .modal {
	overflow-y: auto;
	padding-left: 0 !important;
}

.modal::before {
	content: "";
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
}

.modal-dialog {
	display: inline-block;
	margin: 100px auto;
	max-width: 60%;
	width: 900px;
	vertical-align: middle;
}

.modal-dialog .modal-content h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 25px;
}

.modal-dialog .modal-content span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	color: rgba(51, 51, 51, 0.7);
	display: inline-block;
	margin-bottom: 15px;
}


/*----- Lightbox 1 -----*/

#getoff .modal-dialog .modal-content::before,
#almost .modal-dialog .modal-content::before {
	background: linear-gradient(to left, #99825e, #b99f77 48%, #99825e);
	content: "";
	position: absolute;
	top: 0;
	height: 10px;
	width: 100%;
}

#getoff .modal-dialog .modal-body .logo,
#almost .modal-dialog .modal-body .logo {
	display: inline-block;
	height: 80px;
	width: 165px;
	right: 30px;
	top: 0px;
	position: absolute;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

#getoff .modal-dialog .modal-body,
#almost .modal-dialog .modal-body {
	padding: 40px 30px;
}

#getoff .modal-dialog .modal-content form .form-check label,
#getoff .modal-dialog .modal-content form .login-wrap span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

#getoff .modal-dialog .modal-content form .form-check label a,
#getoff .modal-dialog .modal-content form .login-wrap span a {
	color: #e96742;
}

#getoff .modal-dialog .modal-content form .btn-wrap button {
	width: 100%;
	height: 38px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	background-image: linear-gradient(to bottom, #c4a883, #9d895f);
	border: none;
	box-shadow: none;
	border-radius: 3px;
}


/*----- Lightbox 2 -----*/

#almost .activate-acc {
	border: solid 1px #c4a883;
	padding: 20px 25px;
	margin-bottom: 20px;
}

#almost .activate-acc span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: rgba(51, 51, 51, 0.7);
	font-style: italic;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0px;
}

#almost .activate-acc span:first-child {
	width: 15%;
	margin-right: 10px;
}

#almost .activate-acc span:nth-child(2) {
	width: 80%;
}


/*----- Lightbox 3 -----*/

#roomdetail .modal-body h3 {
	margin-bottom: 10px;
}

#roomdetail .modal-body {
	padding: 20px;
}

#roomdetail .modal-body span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

#roomdetail .room-list li {
	list-style: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
}

#roomdetail .room-list li::before {
	position: absolute;
	top: 6px;
	left: 0;
	content: "\f111";
	font-family: FontAwesome;
	font-size: 5px;
}

#roomdetail .room-list {
	margin-left: 10px;
}

#roomdetail .room-list ul li {
	display: inline-block;
	width: 46%;
	vertical-align: top;
	margin-right: 15px;
}

#roomdetail .room-detail {
	background-color: #eeeeee;
	padding: 15px 20px;
}

#roomdetail .room-detail .room-info {
	margin-bottom: 12px;
}

#roomdetail .room-detail .room-info .title {
	display: inline-block;
	width: 22%;
	margin-right: 10px;
	vertical-align: top;
}

#roomdetail .room-detail .room-info .content {
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

#roomdetail .room-detail .room-info span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0px;
}

#roomdetail .roomdetail-slider {
	margin-bottom: 20px;
}

#roomdetail .roomdetail-slider .featured-thumb img {
	width: 100%;
	max-width: 1100px;
}


/*----- Lightbox 5 -----*/

.hotel .modal-tab,
#roomdetail .modal-dialog {
	max-width: 85%;
	width: 1140px;
}

#hotel-info .featured-thumb img {
	width: 100%;
	height: 130px;
}

.gallery-slider .slider-nav .item.slick-slide {
	margin-right: 20px;
	width: 100px !important;
}

.gallery-slider .slider-for {
	margin-bottom: 20px;
}

.gallery-slider .slider-nav .slick-list {
	padding: 0px!important;
}

.gallery-slider .slider-nav .slick-track {
	left: 0px !important;
}

.hotel .nav-tabs {
    margin: 0;
    border: none;
    position: relative;
    z-index: 1;
}

.hotel .tab-content {
	background: #fff;
    padding: 20px;
    position: relative;
    z-index: 5;
}

.hotel .modal-content {
	background: none;
	border: none;
}

.hotel .tab-content h3 {
	margin-bottom: 35px;
	margin-left: 10px;
}

.hotel .modal-body {
	padding: 0px 15px 25px 15px;
}

.hotel .tab-content .content .row {
	margin-bottom: 30px;
}

.hotel .tab-content p:last-child {
	margin-bottom: 0px;
}

.hotel .tab-content .sidebar {
	background: #eeeeee;
	padding: 29px 20px;
}

.hotel .tab-content .sidebar h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 20px;
}

.hotel .tab-content .sidebar li {
	font-family: 'Source Sans Pro', sans-serif;
	list-style: none;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: rgba(37, 53, 71, 0.7);
	position: relative;
	padding-left: 22px;
	display: block;
	line-height: 2em;
}

.hotel .tab-content .sidebar li::before {
	content: "\f111";
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	font-size: 4px;
	font-family: FontAwesome;
}

.hotel .nav-tabs .nav-link {
	border-radius: 0px;
	padding: 13px 31px;
	background: #eeeeee;
	box-shadow: 0 -2px 6px 0 rgba(94, 99, 103, 0.7);
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 1.07;
	text-align: left;
	color: rgba(51, 51, 51, 0.7);
	text-align: center;
	text-transform: capitalize;
}

.hotel .nav-tabs .nav-link.active {
	background: #ffffff;
	color: #b19971;
	box-shadow: 0 -2px 6px 0 rgba(94, 99, 103, 0.7);
}

.hotel .nav-tabs li {
	list-style: none;
}

.hotel .nav-tabs .nav-link.active span {
	color: #b19971;
}

.hotel .nav-tabs .nav-link span {
	margin-bottom: 0px;
}

.hotel .nav-tabs .nav-link::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: FontAwesome;
	left: 13px;
}

.hotel .nav-tabs .nav-item:first-child .nav-link::before {
	content: "\f05a";
}

.hotel .nav-tabs .nav-item:nth-child(2) .nav-link::before {
	content: "\f041";
}

.hotel .nav-tabs .nav-item:nth-child(3) .nav-link::before {
	content: "\f03e";
}

.hotel .nav-tabs .nav-item:nth-child(4) .nav-link::before {
	content: "\f005";
}

#map .map-sec {
	max-width: 100%;
	height: 510px;
	margin-bottom: 20px;
}

#map .map-sec iframe {
	height: 100%;
	width: 100%;
}

#map .content-sec span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

#reviews {
	padding: 0px 20px 20px;
}

#reviews .content li {
	list-style: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	line-height: 2.5em;
}


#reviews .content h3 {
	margin-left: 0px;
	margin-bottom: 20px;
}

#reviews .sidebar-info .logo-wrap {
	text-align: right;
	margin-bottom: 20px;
}

#reviews .sidebar-info .logo-wrap a {
	display: inline-block;
}

#reviews .sidebar-info .logo-wrap li {
	margin-right: 2px;
	list-style: none;
}

.form-check-label {
	padding-left: 0px;
	margin-bottom: 10px;
}

form input[type=checkbox] {
	-webkit-appearance: none;
	display: none;
}

form input[type=checkbox]:checked + span.new-checkbox {
	background: #9d895f;
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-color: #9d895f;
}

form input[type=checkbox]:checked + span.new-checkbox:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 5px;
	background: transparent;
	top: 26%;
	left: 4px;
	right: 0;
	text-align: center;
	border: 2px solid #ffffff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

span.new-checkbox {
	background: #fff;
	border: solid 2px #6c6c6c;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 7px;
	border: solid 1px rgba(37, 53, 71, 0.3);
	cursor: pointer;
	display: inline-block;
	margin-left: 0px;
	top: -1px;
	position: relative;
}

.form-check-label label .new-checkbox {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-top: -2px;
	margin-right: 12px;
	margin-bottom: 0;
}


/*----- Lightbox-6 -----*/

.extralinfo .modal-body {
	padding: 25px 40px 25px 30px;
}


/*------ BP2 Page -----*/

.skip-wrap {
	text-align: right;
	margin-bottom: 20px;
}

.continue-wrap {
	text-align: right;
	margin-top: 20px;
}

.skip,
.continue,
.book-now {
	line-height: 2.2em;
	border-radius: 2px;
	background-color: #e96742;
	display: inline-block;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #e96742;
	position: relative;
}

.skip::after,
.continue::after,
.book-now::after {
	content: "";
	background-image: url('../images/right.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 13px;
	width: 13px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
}

.skip {
	width: 90px;
}

.book-now {
	width: 140px;
}

.continue {
	width: 160px;
}

.skip:hover,
.continue:hover,
.book-now:hover {
	opacity: 0.8;
	color: #ffffff;
}

.enhance-your-stay-wrap .sec-title {
	margin-bottom: 18px;
}

.enhance-your-stay-wrap .sec-title h4 {
	display: inline-block;
}

.enhance-your-stay-wrap .sec-title h4 span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 0.95em;
	color: #a99874;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 22px;
	display: none;
}

.bp2-page-content .grid-item-wrap .grid-item {
	padding: 10px 35px 10px 10px;
	margin-bottom: 20px;
}

.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec {
	display: flex;
	justify-content: space-between;
}

.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec > div {
	align-self: center;
}

.bp2-page-content .grid-item-wrap .grid-item .content-sec {
	width: 360px;
}

.bp2-page-content .grid-item-wrap .grid-item .grid-item-sec .img-sec {
	margin-right: 15px;
}

.bp2-page-content .grid-item-wrap .grid-item .price {
	width: 100px;
}

.bp2-page-content .grid-item-wrap .grid-item .price span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 400;
	text-align: center;
	color: #9d895f;
	display: block;
	text-align: center;
}

.bp2-page-content .grid-item-wrap .grid-item .price span:nth-child(2) {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.31;
	text-align: center;
	color: rgba(51, 51, 51, 0.7);
}

.bp2-page-content .grid-item-wrap .grid-item .value select {
	border: solid 1px rgba(37, 53, 71, 0.3);
	border-radius: 0px;
	width: 46px;
	padding: 0 15px 0px 8px;
}

.bp2-page-content .grid-item-wrap .grid-item h5 {
	margin-bottom: 6px;
}

.bp2-page-content .grid-item-wrap .grid-item p {
	margin-bottom: 0px;
}

.bp2-page-content .grid-item-wrap .grid-item .more-info-wrap {
	margin: 10px 0 10px 155px;
}

.more-info {
	display: inline-block;
	width: 135px;
	line-height: 2.5em;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #e96742;
	border-radius: 2px;
	background-color: #ffffff;
	border: 1px solid #e96742;
	text-transform: uppercase;
}

.more-info:hover {
	background: #e96742;
	color: #ffffff;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-wrap label,
.bp2-page-content .grid-item-wrap .grid-item .checkbox-wrap .form-check-label {
	margin-bottom: 0px;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-val label {
	margin-bottom: 10px;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-val label:last-child {
	margin-bottom: 0px;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-val .form-check-label {
	width: 170px;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-wrap label {
	display: block;
}

.bp2-page-content .grid-item-wrap .grid-item .checkbox-wrap .form-check-label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: rgba(51, 51, 51, 0.7);
}

.grid-sec-wrap .grid-sec {
	display: flex;
	justify-content: space-between;
}

.grid-sec-wrap {
	padding: 10px 20px;
}

.grid-sec-wrap .grid-sec > div {
	align-self: center;
}

.grid-sec-wrap .add-preferences {
	display: block;
	margin-bottom: 15px;
}

.grid-sec .checkbox-wrap .form-check-label label {
	margin-bottom: 10px !important;
}

.grid-sec-wrap .comment-sec label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.38;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 5px;
}


/*------ BP3 Page -----*/

.details-info-wrap .details-info-sec {
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
	padding: 20px 30px;
}


.details-info-sec .bp3-form {
	display: none;
}

.details-info-wrap .details-info-sec span.my-address,
.details-info-wrap .details-info-sec .radio label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.details-info-wrap .details-info-sec span.my-address,
.details-info-wrap .details-info-sec ul {
	display: inline-block;
	vertical-align: top;
}

.details-info-wrap .details-info-sec .my-address-wrap {
	margin-bottom: 5px;
}

.details-info-wrap .details-info-sec span.my-address {
	margin-right: 70px;
}

.details-info-wrap .details-info-sec .radio span.new-radio {
	height: 14px;
	width: 14px;
	margin-right: 10px;
}

.details-info-wrap .details-info-sec .radio span.new-radio:after {
	top: 19%;
	left: 2px;
	width: 9px;
}

.details-info-wrap .title-sec {
	margin-bottom: 30px;
}

.details-info-wrap .title-sec h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	color: #a99874;
	margin-bottom: 0px;
}

.guest-detail-element {
	margin-bottom: 18px;
}

.guest-detail-element:last-child {
	margin-bottom: 0px;
}

.guest-detail-element .guest-detail-info .featured-thumb,
.guest-detail-element .guest-detail-info .content-sec {
	display: inline-block;
	vertical-align: top;
}

.guest-detail-element .guest-detail-form {
	display: none;
}

.guest-detail-element .guest-detail-info .featured-thumb {
	margin-right: 25px;
}

.guest-detail-element .guest-detail-info {
	margin-bottom: 25px;
}

.guest-detail-element .guest-detail-info .content-sec h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.3;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 16px;
}

.guest-detail-element .guest-detail-info .content-sec label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: rgba(51, 51, 51, 0.7);
	font-weight: 400;
}

.sucess {
	background-image: url('../images/success.png');
	background-position: 98% center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.error {
	background-image: url('../images/error.png');
	background-position: 98% center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.error-msg {
	color: #a4061a;
	font-size: 12px;
	margin-bottom: 0px;
	text-align: right;
}
.label-sec {
	display: flex;
	justify-content: space-between;
}

.label-sec label,
.label-sec span {
	align-items: center;
}

.payment-details .checkbox-wrap label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.payment-details .checkbox-wrap label a {
	color: #e96742;
}

.payment-details .checkbox-wrap label a:hover {
	color: #000000;
}

.master-cards {
	display: inline-block;
	vertical-align: bottom;
	width: 49%;
}

.secured-sec {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 49%;
}

.master-card-sec {
	margin-bottom: 18px;
}

.expiry-wrap {
	margin-bottom: 20px;
}

.expiry-wrap form .form-group {
	display: inline-block;
	width: 96px;
	margin-right: 16px;
	vertical-align: top;
	margin-bottom: 0px;
}

.expiry-wrap form,
.expiry-wrap .intarogative-wrap {
	display: inline-block;
	vertical-align: middle;
}

.expiry-wrap .intarogative-wrap {
	margin-top: 20px;
}

.booking-now {
	background-color: #e96742;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	width: 100%;
	line-height: 2.5em;
	border: 1px solid #e96742;
	position: relative;
}

.booking-now::before {
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	content: "\f0b1";
	font-family: FontAwesome;
}

.book-now-sec {
	margin-top: 20px;
}

.booking-now:hover,
.booking-now:focus {
	background: #ffffff;
	color: #e96742;
}




/*----- BP4 Confirmation Page -----*/

.confirmation-content-wrap .section {
	background: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(93, 75, 63, 0.14);
	padding: 24px 20px;
}

.confirmation-content-wrap .section .title {
	margin-bottom: 20px;
}

.confirmation-content-wrap .section .title h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.confirmation-content-wrap .section .content p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: rgba(51, 51, 51, 0.7);
	line-height: 1.4em;
}

.confirmation-content-wrap .section .content p a {
	font-weight: 600;
	color: rgba(51, 51, 51, 0.7);
}

color: #e96742;
.hotel-info-wrap .featured-thumb {
	margin-bottom: 20px;
}

.hotel-info-wrap .address-wrap address,
.hotel-info-wrap .contact-info span.tel span,
.hotel-info-wrap .contact-info span.tel a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0px;
}

.hotel-info-wrap .contact-info span.tel a:hover {
	color: #e96742;
}

.hotel-info-wrap .address-wrap {
	margin-bottom: 20px;
}

.hotel-info-wrap .featured-thumb {
	margin-bottom: 15px;
}

.hotel-info-wrap .contact-info span.tel {
	display: block;
}

.thankyou-sec-wrap .arrival-info-sec ul,
.thankyou-sec-wrap .arrival-info-sec .title-sec {
	margin-bottom: 20px;
}

.thankyou-sec-wrap .arrival-info-sec .title-sec h5,
.thankyou-sec-wrap .arrival-info-sec .title h5 {
	margin-bottom: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.thankyou-sec-wrap .arrival-info-sec .total-wrap > div {
	display: inline-block;
	width: 49%;
}

.thankyou-sec-wrap .arrival-info-sec .total-wrap .price span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.thankyou-sec-wrap .arrival-info-sec ul li {
	list-style: none;
	margin-bottom: 8px;
}

.thankyou-sec-wrap .arrival-info-sec a.conditions,
.thankyou-sec-wrap .arrival-info-sec a.cancellation {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #e96742;
	display: block;
}

.thankyou-sec-wrap .arrival-info-sec a.conditions:hover,
.thankyou-sec-wrap .arrival-info-sec a.cancellation:hover {
	color: #000000;
}

.thankyou-sec-wrap .arrival-info-sec a.conditions {
	margin-bottom: 15px;
}

.thankyou-sec-wrap #accordion .card {
	border: none;
}
.thankyou-sec-wrap #accordion {
	margin-bottom: 10px;
}

.thankyou-sec-wrap #accordion .card-header {
	padding: 0px;
	background: none;
	border: none;
}
.thankyou-sec-wrap #accordion .card-header h5 a {
	text-align: left;
	padding: 0px;	
	cursor: pointer;
}

.thankyou-sec-wrap #accordion .card-body {
	padding: 0px;
}
.thankyou-sec-wrap .arrival-info-sec a.cancellation {
	margin-bottom: 6px;
}

.thankyou-sec-wrap .arrival-info-sec a.cancellation.collapsed::after {
	content: "\f107";
	font-family: FontAwesome;
	margin-left: 10px;
}
.thankyou-sec-wrap .arrival-info-sec a.cancellation::after {
	content: "\f106";
	font-family: FontAwesome;
	margin-left: 10px;
}

.thankyou-sec-wrap .arrival-info-sec ul li:last-child {
	margin-bottom: 0px;
}

.thankyou-sec-wrap .arrival-info-sec ul li .title,
.thankyou-sec-wrap .arrival-info-sec ul li .content {
	margin-bottom: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	display: inline-block;
	width: 49%;
}

.thankyou-sec-wrap .arrival-info-sec .btn-detail {
	margin-bottom: 0px;
}

.thankyou-sec-wrap .arrival-info-sec .btn-detail a {
	width: 234px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 2.3em;
	text-align: center;
	color: #ffffff;
	background-image: linear-gradient(to bottom, #c4a883, #9d895f);
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #c4a883;
	transition: all 0.3s ease-in-out 0s;
}

.thankyou-sec-wrap .arrival-info-sec .btn-detail a:hover {
	background: #ffffff;
	color: #c4a883;
}

.thankyou-sec-wrap .arrival-info-sec .btn-detail li {
	margin-right: 28px;
	margin-bottom: 0px;
}

.thankyou-sec-wrap .arrival-info-sec .btn-detail li:last-child {
	margin-right: 0px;
}


/*----- BPO-No-Availabilty -----*/

.bpo-no-availabilty .no-availabilty-wrap P {
	margin-bottom: 0px;
}

.bpo-no-availabilty h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.bpo-no-availabilty .no-availabilty-wrap {
	margin-bottom: 25px;
}


/*----- Booking Calender  -----*/

.booking-dates-slider {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}


/*--- Booking Month --*/

.booking-months {
	display: block;
	margin: 0 auto 8px;
	text-align: center;
	position: relative;
}

.booking-months p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0px;
}

.booking-months .carousel-control,
.booking-months p {
	display: inline-block;
	vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
	opacity: 1;
}

.carousel-control-prev {
	text-align: right;
	width: inherit;
}

.carousel-control-next {
	text-align: left;
	width: inherit;
}


/*-- Booking Date --*/

.booking-date-table {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 10px;
	background: #e2e1e0;
	padding: 5px;
}

.booking-date-table .booking-date-row {
	display: table-row;
}

.booking-date-table .booking-date-col.date-month-name {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
}

.booking-date-table .booking-date-row .booking-date-col {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.booking-date-table .booking-date-col.booking-price-col {
	background: #fff;
	padding: 5px;
	height: 80px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: solid 1px rgba(37, 53, 71, 0.3);
}

.booking-date-table .booking-date-col.booking-price-col:hover {
	background: #8d805c;
}

.booking-date-table .booking-date-col.booking-price-col:hover .package-dt,
.booking-date-table .booking-date-col.booking-price-col:hover .package-price,
.booking-date-table .booking-date-col.booking-price-col:hover .package-ex {
	color: #ffffff;
}

.booking-date-col.booking-price-col .package-mn, 
.booking-date-col.booking-price-col .package-dt {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.7);
    line-height: 0.9em;
    position: absolute;
    top: 6px;
}

.booking-date-col.booking-price-col .package-price {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color: rgba(51, 51, 51, 0.7);
}

.booking-date-col.booking-price-col .package-price,
.booking-date-col.booking-price-col .package-fully-booked,
.booking-date-col.booking-price-col.extra-demand .package-ex {
	text-align: center;
}

.booking-date-col.booking-price-col.fully-booked,
.booking-date-col.booking-price-col.extra-demand {
	background-color: rgba(255, 255, 255, 0.4);
}

.booking-date-col.booking-price-col.extra-demand .package-ex {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	font-style: italic;
}

.booking-date-col.booking-price-col.extra-demand .package-ex .moon-wrap {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	position: relative;
}

.booking-date-col.booking-price-col.extra-demand .package-ex .moon-wrap span {
	position: absolute;
	top: -15px;
	right: -13px;
	font-style: normal;
}

.booking-date-col.booking-price-col.extra-demand .package-ex .moon-wrap svg {
	position: absolute;
	left: -4px;
	top: -10px;
	fill: rgba(51, 51, 51, 0.7)
}

.booking-date-col.booking-price-col:hover .package-ex .moon-wrap svg {
	fill: #ffffff;
}

.booking-date-col.booking-price-col .package-fully-booked .cross {
	border-radius: 2px;
	display: inline-block;
	align-self: center;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	min-width: 1px;
	font-size: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	line-height: 0;
}

.booking-date-col.booking-price-col .package-fully-booked .cross:after,
.booking-date-col.booking-price-col .package-fully-booked .cross:before {
	content: "";
	position: absolute;
	background-color: rgba(37, 53, 71, 0.3);
	width: 35px;
	height: 1px;
	left: 0;
	right: 0;
	transform: rotate(45deg);
	transform-origin: 10px 0px;
	top: 20px;
	text-align: center;
	margin: 0 auto;
}

.booking-date-col.booking-price-col .package-fully-booked .cross:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 21px 6px;
	transform-origin: 21px 6px;
}

.booking-date-col.booking-price-col.fully-booked {
	cursor: not-allowed;
}

.booking-date-col.booking-price-col.fully-booked:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.booking-date-col.booking-price-col.fully-booked:hover .package-dt {
	color: rgba(51, 51, 51, 0.7);
}


/*----- Other Hotels -----*/

.other-hotels-wrap h3 {
	text-align: center;
	margin-bottom: 30px;
}

.other-hotels-wrap .grid-item {
	padding: 20px;
	margin-bottom: 0px;
	min-height: 335px;
}

.other-hotels-wrap .grid-item .featured-thumb {
	margin-bottom: 12px;
}

.other-hotels-wrap .grid-item h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 10px;
}

.other-hotels-wrap .grid-item ul {
	display: flex;
	justify-content: space-between;
}

.other-hotels-wrap .grid-item ul li {
	align-self: center;
}

.other-hotels-wrap .grid-item .price-sec {
	margin-bottom: 15px;
	text-align: right;
}

.other-hotels-wrap .grid-item .price-sec span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.4);
	font-style: italic;
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
}

.other-hotels-wrap .grid-item .price-sec span.price {
	font-size: 28px;
	font-style: normal;
	color: rgba(51, 51, 51, 0.7);
	margin-left: 10px;
}

.other-hotels-wrap .grid-item .more-info {
	text-transform: capitalize;
}

button.button {
    position: relative;
    cursor: pointer;
}

button.button:hover,
button.button:focus {
	background: #ffffff;
	color: #e96742;
}
.done:before {
    content: "\f00c";
    font-family: FontAwesome;
    visibility: visible;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    line-height: 1;
}

.loading,
.done {
    cursor: default;
}

.loading:before,
.loading:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #102947;
}

.loading:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.loading:after {
    border: 5px solid #fff;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}